# [AUTH]
AuthAccessSecret=xxxxxxxxxxxxxxxxxxxxxxx
AuthAccessExpire=259200

# [DB]
DatabaseConfType=mysql
DatabaseConfHOST=127.0.0.1
DatabaseConfPort=3306
DatabaseConfDBName=saas_core
DatabaseConfUsername=root
DatabaseConfPassword=root123456
DatabaseConfMaxOpenConn=100
DatabaseConfSSLMode=disable
DatabaseConfCacheTime=5

# [REDIS]
RedisConfHost=127.0.0.1:56379
RedisConfType=node
RedisConfPass=xxxxxxxxxxxxxxx

# [PROMETHEUS]
PrometheusHost=localhost
PrometheusPort=59090
PrometheusPath=/metrics

# Tracing Analysis
# [TELEMETRY]
#TelemetryName=xxxxx-rpc
TelemetryEndpoint=127.0.0.1:54317
TelemetrySampler=1.0
TelemetryBatcher=otlpgrpc

# [ETCD]
EtcdHosts=localhost:52379